


<div     class="col-xl-12 mb-5 mb-xl-3 ">
    <div  class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3     class="mb-0">All Students in {{ name }} course </h3>
          </div>
          <div class="col text-right">
            <a  (click)="removeSection()"  href="#!" class="btn btn-sm btn-primary">close</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Student Name</th>
              <th scope="col">Age</th>
              <th scope="col">Enrolled On</th>
              <th scope="col">Amount Paid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                James Does
              </th>
              <td>
                14
              </td>
              <td>
                24 Feb 2023
              </td>
              <td>
               AED 1200 
              </td>
            </tr>
            <tr>
              <th scope="row">
                James Does
              </th>
              <td>
                14
              </td>
              <td>
                24 Feb 2023
              </td>
              <td>
               AED 1200 
              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>