


<div     class="col-xl-12 mb-5 mb-xl-3 ">
    <div  class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3   *ngIf="tblData"  class="mb-0">All Students in {{ tblData[0].courseName }} course </h3>
          </div>
          <div class="col text-right">
            <a  (click)="removeSection()"  href="#!" class="btn btn-sm btn-primary">close</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Student Name</th>
              <th scope="col">Age</th>
              <th scope="col">Enrolled On</th>
              <th scope="col">Payment Mode</th>
              <th scope="col">Major</th>
              <th scope="col">Amount Paid</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor = "let title of tblData"  >
              <th scope="row">
                {{ title.student.name }}
              </th>
              <td>
                {{ title.student.age }}
              </td>
              <td>
                {{ title.createdAt | date }}
              </td>

              <td>
                {{ title.paymentMode
                   }}
              </td>

              <td>
                {{ title.student.majorIn }}
                  
                   
              </td>


              <td>
                AED {{ title.amount }}
              </td>
            </tr>

           
           
          </tbody>
        </table>
      </div>
    </div>
  </div>