<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div  class="row">
        <div cdkDrag class="col-xl-4 col-lg-6">
          <div   class="card card-stats mb-4 mb-xl-0 moveCrsr">
           

            <div  class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Revenue</h5>
                  <span class="h2 font-weight-bold mb-0"> AED {{ totrev }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last year</span>
              </p>
            </div>
          </div>
        </div>
        <div  cdkDrag    class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0 moveCrsr">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active Students</h5>
                  <span class="h2 font-weight-bold mb-0">{{ allcoursesrev.length   }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div   cdkDrag   class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0 moveCrsr">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Number of Active Courses</h5>
                  <span class="h2 font-weight-bold mb-0"> {{ allcourses.length  }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since Last Year</span>
              </p>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
</div>



<div class="container-fluid mt--7">
  <div class="row">

    <!-- Course Sale bar Grph Start -->
    <div  cdkDrag class="col-xl-8 mb-5 mb-xl-0 moveCrsr">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Course Sold</h2>
            </div>
            
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Course Sale bar Grph End  -->

     <!-- Course Sale bar Grph Start -->
    <div cdkDrag class="col-xl-4 moveCrsr">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Students Age Group Wise</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Course Sale bar Grph Start -->

  </div>
  <div  cdkDrag class="row mt-5 moveCrsr ">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0"> All Courses </h3>
            </div>
            
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Fees</th>
                <th scope="col">Duration</th>
                <th scope="col">Category</th>
                <th scope="col">Start Date</th>
                <th scope="col"> Action  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let title of allcourses" >
                <th scope="row">
                 {{ title.courseName }}
                </th>

                <th scope="row">
                  {{ title.durationinMonth }} months
                 </th>


                <td>
                 AED  {{ title.fees }}
                </td>
                <td>
                  {{ title.subject }}
                </td>
                <td>
                  {{ title.startDate | date  }}
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <a (click)="createComponent(title.courseName)"   href="#!" class="btn btn-info">View Details</a>
                  </div>
                </td>

              </tr>

             

             
            </tbody>
          </table>
        </div>
      </div>
    </div>

   


    

   
  </div>

  <!-- Dynamic Controller Container -->
  <div cdkDrag  class="row mt-5 ml-6 moveCrsr">
    <ng-container #container></ng-container>
  </div>
  <!-- Dynamic Controller Container -->




</div>
